.DS_Store
GGJUnityProject/Library/AnnotationManager
GGJUnityProject/Library/AssetImportState
GGJUnityProject/Library/AssetServerCacheV3
GGJUnityProject/Library/FailedAssetImports.txt
GGJUnityProject/Library/ScriptMapper
GGJUnityProject/Library/assetDatabase3
GGJUnityProject/Library/cache/
GGJUnityProject/Library/expandedItems
GGJUnityProject/Library/guidmapper
GGJUnityProject/Library/metadata/
GGJUnityProject/Library/previews/
GGJUnityProject/Library/AssetVersioning.db
GGJUnityProject/Library/ScriptAssemblies
GGJUnityProject/Library/InspectorExpandedItems.asset
GJUnityProject/Library/DynamicsManager.asset
GJUnityProject/Library/TagManager.asset
GGJUnityProject/Temp
